<div class ="ui  segment">        
        <chart-events-example [chartType] = 'bar' > </chart-events-example>
</div>

<div class="ui horizontal segments">

    <div class="ui padded segment">
        <p>This area will be used for chart</p>
    </div>
    <div class="ui padded segment">
        <p>This area will be used for chart</p>
        <div class="ui feed">
            <div class="event">
                        <div class="label">
                            <div class="ui blue label"> New</div>
                        </div>
                <div class="content">
                    <div class="summary">
                        <a class="user"> Den Green </a> reviewd 
                            <div class="date">
                                1 Hour Ago
                            </div> 
                    </div>
         </div>
        </div> 
        </div>
</div>